/*--------------------CSS DE BUSQUEDA DE DESTINOS----------------------------*/

#filtro{
    width: 100%;
    min-height: 50px;
    background-color: brown;
}

#destinos{
    width: 95%;
    margin: 2%;
    height: 900px;
}

.destino{
    width: 90%;
    height: 100%;
    background-size: cover;
    border-radius: 20px;
    color: white;
}

.datos{
    margin-left: 3%;
    padding-top: 3%;
}

.destino:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.info{
    overflow-y: auto;
}

.info > div{
    height: min-content;
    background-color: cadetblue;
    padding: 3%;
}

.info > article{
    height: 10%;
    margin-top: 2%;
    background-color: darkgrey;

    display: grid;
    grid-template-columns: 30% 30% 15% 15%;
    column-gap: 2.5%;
    grid-auto-flow: column;
    text-align: center;
    align-items: center;
}

#planetas{
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5,15%) auto;
    row-gap: 2%;
    justify-items: center;
}