/*--------------------CSS DE BUSQUEDA DE DESTINOS----------------------------*/

#filtro{
    width: 100%;
    min-height: 50px;
    background-color: brown;
}

#destinos{
    width: 95%;
    margin: 2%;
    height: 700px;
}

.destino{
    width: 100%;
    height: 15vh;
    background-color: black;
    color: white;
    margin-bottom: 2%;

    display: flex;
    flex-wrap: nowrap;
}

.info{
    overflow-y: auto;
}

.info > div{
    height: min-content;
    background-color: cadetblue;
    padding: 3%;
}

.info > article{
    height: 10%;
    margin-top: 2%;
    background-color: darkgrey;

    display: grid;
    grid-template-columns: 30% 30% 15% 15%;
    column-gap: 2.5%;
    grid-auto-flow: column;
    text-align: center;
    align-items: center;
}

.foto{max-width: 150px;}

.datos{
    margin-left: 3%;
    padding-top: 0.5%;
}

@media (min-width:830px){

    #destinos{
        display: grid;
        grid-template-columns: 35% auto;
        column-gap: 2%;
    }
}

/* width */
.info::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  .info::-webkit-scrollbar-track {
    background: white;
  }
   
  /* Handle */
  .info::-webkit-scrollbar-thumb {
    background: cadetblue; 
  }
  
  /* Handle on hover */
  .info::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }